
<h1>{{name}}</h1>

<dl>

  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Metodo:</td>
  <dd>{{HeroDescription}}</dd>

  <td>Capitalizado:</td>
  <!-- aqui se esta llamando a una funcion, no a una propiedad-->
  <!-- esto tmbien se pude realizar con pipes-->
  <dd>{{capitalizedName}}</dd>


</dl>

<button
  class="btn btn-primary mx-2"
  (click)="changeHero()"
  *ngIf="name != 'Spiderman'">Cambiar Nombre</button>
<button
  class="btn btn-primary mx-2"
  (click)="changeAge()"
  *ngIf="age != 25">Cambiar Edad</button>

<button
class="btn btn-primary"
(click)="resetForm()">Reset</button>
